{%extends 'pages/base.jinja'%}

{%block title%}
    Flask Demo - Random Number
{%endblock%}


{%block content%} 
    
    <section id="hero">
        <h1>Here is a lovely random number...</h1> 
    </section>
    <section id="numSection">
        
        <article id="rand-num">
            {{number}}
        </article>
        
    </section>
    


{%endblock%}

