{%extends 'pages/base.jinja'%}

{%block title%} sybau {%endblock%}

{%block content%} 
    
    <section id="hero">
        <h1>sybau</h1>
    </section>
    <section id="mainText">
        <p>i love yogurt</p>
        <p>gurt: i love you too</p>
        <p>too: ayo</p>
    </section>


{%endblock%}